* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	background-color: #787;
}

a {
	color: green;
	text-decoration: none;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-column-gap: 10px;
	grid-row-gap: 15px;
}

.grid {
/*	background-color: #444;
*/	color: #0af;
	padding: 25px;
	font-size: 3rem;
}

.header {
	background-color: #444;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}
.menu div {
	margin: 1rem -25px;
	background-color: #444;
	padding: 0 25px;
}
.menu div:hover {
	background-color:#666;
}
.content {
	background-color: #444;
	font-size: 1.5rem;
}

p {
	padding:0.5rem;
	text-indent:4rem;
}


